<div class="logo-header">
  <img class="logo-image" src="assets/images/logo_blue.svg"/>
  <h1>
    Simplifiez votre première fois !
  </h1>
  <button  class="button1" type="button">
    <a routerLink="/offers">Découvrir les offres</a>
  </button>
</div>

<div class="grid-container">
  <h1 class="grid-title">Vous êtes étudiant ?</h1>
  <div class="grid">
    <div class="grid-item">
      <h2 class="item">Vous allez voir...</h2>
      <img class="illustration" src="https://image.flaticon.com/icons/svg/1661/1661857.svg"/>
      <p class="item">Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat. Numne, si Coriolanus habuit amicos, ferre contra patriam arma illi cum Coriolano debuerunt? num Vecellinum amici regnum adpetentem, num Maelium debuerunt iuvare?</p>
    </div>
    <div class="grid-item">
      <h2 class="item">Ce site est merveilleux</h2>
      <img class="illustration" src="https://image.flaticon.com/icons/svg/1661/1661869.svg"/>
      <p class="item">Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus ignorantes.</p>
    </div>
    <div class="grid-item">
      <h2 class="item">Il va changer votre vie !</h2>
      <img class="illustration" src="https://image.flaticon.com/icons/svg/1661/1661884.svg"/>
      <p class="item">Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.
      </p>
    </div>
  </div>
</div>

<div class="grid-container">
  <h1 class="grid-title">Vous êtes une entreprise ?</h1>
  <div class="grid">
      <div class="grid-item">
          <h2 class="item">0xp est LA solution</h2>
          <img class="illustration" src="https://image.flaticon.com/icons/svg/1661/1661853.svg"/>
          <p class="item">Tempore quo primis auspiciis in mundanum fulgorem surgeret victura dum erunt homines Roma, ut augeretur sublimibus incrementis, foedere pacis aeternae Virtus convenit atque Fortuna plerumque dissidentes, quarum si altera defuisset, ad perfectam non venerat summitatem.
          </p>
        </div>
        <div class="grid-item">
          <h2 class="item">Vous avez tout à y gagner</h2>
          <img class="illustration" src="https://image.flaticon.com/icons/svg/1661/1661872.svg"/>
          <p class="item">Tantum autem cuique tribuendum, primum quantum ipse efficere possis, deinde etiam quantum ille quem diligas atque adiuves, sustinere. Non enim neque tu possis, quamvis excellas, omnes tuos ad honores amplissimos perducere, ut Scipio P. Rupilium potuit consulem efficere, fratrem eius L. non potuit. Quod si etiam possis quidvis deferre ad alterum, videndum est tamen, quid ille possit sustinere.
          </p>
        </div>
        <div class="grid-item">
          <h2 class="item">N'attendez plus !</h2>
          <img class="illustration" src="https://image.flaticon.com/icons/svg/1661/1661867.svg"/>
          <p class="item">Dum apud Persas, ut supra narravimus, perfidia regis motus agitat insperatos, et in eois tractibus bella rediviva consurgunt, anno sexto decimo et eo diutius post Nepotiani exitium, saeviens per urbem aeternam urebat cuncta Bellona, ex primordiis minimis ad clades excita luctuosas, quas obliterasset utinam iuge silentium! ne forte paria quandoque temptentur, plus exemplis generalibus nocitura quam delictis.
          </p>
        </div>
  </div>
</div>

<div class="footer">
    <a class="button1" routerLink="/offers">Lancez-vous !</a>
    <a class="button1" routerLink="/faq">FAQ</a>
</div>