* {
    text-align: center;
    margin: auto;
}

.logo-header {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    margin-bottom: 20vh;
}

.logo-image {
    width: 330px;
}

.button1 {
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 5vh;
    background-color: rgb(226, 125, 43);
    color:white;
    cursor:pointer;
}

button a{
    text-decoration: none;
    color:white;
}

.button1:hover {
    color: white;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 12vh;
}

.grid-title {
    color: rgb(226, 125, 43);
}

.grid {
    display: flex;
    justify-content: space-around;
    width: 75vw;
    margin-top: 5vh;
}

.grid-item {
    max-width: 22vw;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.item {
    margin: 0;
}

.illustration {
    height: 20vh;
    margin: 3vh;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7vh;
}