img{
    width: 2vh;
    height: 2vh;
}

.mainFilterText{
    margin-top: 10vh;
    width: 50vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1vh 2vw 1vh 5vw;
    border-radius:50px;
    box-shadow: var(--shadow-light);
    background-color: #3e4259;

    input{
        font-size: 1.4em;
        border-bottom:1px solid var(--color-blue-light);    //TODO: j'aime pas trop le soulignage et le Rechercher en gros
        width:30vw;
        background-color: #3e4259;
        color: white;
    }
}

.boxMandatory{
    border: 1px #00000447 solid;
    width: 80%;
    margin:auto;
    padding: 1vh;
    position: relative;
    margin-bottom: 5px;
    h1{
        text-align: center;
    }
    p{
        color:#adadad;
    }
}

.listSelect{
    width:90%;
    margin:auto;
    margin-top: 3vh;
}

.textOpenMoreCriteria{
    text-align: center;
    margin-bottom:1vh;
}

.logoShowMoreCriteria{
    width: 5vh;
    height: 5vh;
    position: absolute;
    bottom: -2.5vh;
    left: 48%;
    transform: rotate(0deg);
    transition-property: all;
    transition-duration: 0.2s;
}

.moreFilterDiv{
    width:80%;
    padding:1vw;
    margin: auto;
    box-shadow: var(--shadow-light);
    background-color: #f5f5f5;

    .flexRow{
        justify-content: space-evenly;
    }

    p{
        color:#adadad;
    }
}

.moreFilterOpenImg{
    transform: rotate(180deg);
}