<div class="mainFilterText flexRow-spaceBet">
  <input type="text" placeholder="Rechercher" (keyup.enter)="filter()" [(ngModel)]="currentFilter.textInput"/>
  <img src="https://image.flaticon.com/icons/svg/149/149309.svg"/>
</div>

<div class="boxMandatory">
  <h1 class="color-blue-medium noSpace">Critères principaux</h1>
  <div class="flexRow-spaceBet listSelect">
    <div>
      <mat-form-field>
        <mat-label>Type d'expérience</mat-label>
        <mat-select [(value)]="currentFilter.type">
          <mat-option value="All">--</mat-option>
          <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
          <mat-label>Durée</mat-label>
          <mat-select [(value)]="currentFilter.time">
            <mat-option value="All">--</mat-option>
            <mat-option *ngFor="let time of timeList" [value]="time">{{time}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Domaine</mat-label>
        <mat-select [(value)]="currentFilter.sector">
          <mat-option value="All">--</mat-option>
          <mat-option *ngFor="let domain of sectorList" [value]="domain">{{domain}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <p class="noSpace textOpenMoreCriteria">Plus de critères</p>
  <img class="logoShowMoreCriteria button" [ngClass]="{'moreFilterOpenImg':isMoreFilterOpen}" (click)="manageMoreFilter()" src="assets/images/icon_arrowFilter.svg"/>
</div>


<div *ngIf="isMoreFilterOpen" class="moreFilterDiv">
  <div class="flexRow">
    <div>
      <p>Lieu</p>
      <form [formGroup]="locationForm">
        <!-- <mat-select-autocomplete
          [placeholder]="'Select Options'"
          [options]="listOfferLocation"
          [multiple]='true'
          name="optionsSelector"
          ngDefaultControl
          [formControl]="locationForm.controls['selected']">
        </mat-select-autocomplete> -->
      </form>
    </div>

    <div>
      <p>Entreprise</p>
      <form [formGroup]="companyForm">
        <!-- <mat-autocomplete
          [placeholder]="'Select Options'"
          [options]="listOfferCompany"
          [multiple]='true'
          name="optionsSelector"
          ngDefaultControl
          [formControl]="companyForm.controls['selected']">
        </mat-autocomplete> -->
      </form>
    </div>
  </div>

  <div>
    <p>Partenaire de l'école seulement</p>
    <mat-slide-toggle></mat-slide-toggle>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Date de publication</mat-label>
      <mat-select [(value)]="datePubSelected">
        <mat-option>--</mat-option>
        <mat-option value="'today'">Aujourd'hui</mat-option>
        <mat-option value="'week'">Cette semaine</mat-option>
        <mat-option value="'month'">Ce mois</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Taille de l'entreprise</mat-label>
      <mat-select [(value)]="datePubSelected">
        <mat-option>--</mat-option>
        <mat-option value="'small'">- 20 employés</mat-option>
        <mat-option value="'medium'">- 200 employés</mat-option>
        <mat-option value="'large'">+ 200 employés</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="dp" placeholder="Date de début souhaitée" [formControl]="dateStart">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (yearSelected)="chosenYearHandler($event)"
                      (monthSelected)="chosenMonthHandler($event, dp)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <p>Taux de matching minimum</p>
    <div class="flexRow">
      <p>0%</p>
      <mat-slider
          max="100"
          min="0"
          thumbLabel="thumbLabel"
          tickInterval="1"
          [(ngModel)]="percentMini">
      </mat-slider>

      <p>100%</p>
    </div>

    <div>
      <p>Rémunération minimum</p>
      <div class="flexRow">
        <p>0€</p>
        <mat-slider
            max="1461"
            min="0"
            thumbLabel="thumbLabel"
            tickInterval="1"
            [(ngModel)]="remunMini">
        </mat-slider>
  
        <p>1461€</p>
      </div>
  </div>

  <!--<div class="flexRow">
    <p>Note entreprise</p>
    <p>(Multiselect avec input sur nom de la ville + Aucun résultat trouvé)</p>
  </div>

  <div class="flexRow">
    <p>Date de publication</p>
    <p>(Multiselect avec input sur nom de la ville + Aucun résultat trouvé)</p>
  </div>

  <div class="flexRow">
    <p>Soft skill demandés</p>
    <p>(Multiselect avec input sur nom de la ville + Aucun résultat trouvé)</p>
  </div>-->

</div>