<h2>S'enregistrer</h2>
<div class="bar-details">
    <span>Je suis</span>
    <a [className]="isStudent ? 'bar-button current':'bar-button'" (click)="loginStudent()">Un Etudiant</a>
    <a [className]="isStudent ? 'bar-button':'bar-button current'" (click)="loginCompany()">Une Entreprise</a>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div *ngIf="isStudent" class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
        <div *ngIf="submitted && f['firstName'].errors">
          <div *ngIf="f['firstName'].errors['required']">Le prénom est obligatoire</div>
      </div>
  </div>
  <div *ngIf="isStudent" class="form-group">
      <label for="name">Nom</label>
      <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
      <div *ngIf="submitted && f['name'].errors">
          <div *ngIf="f['name'].errors['required']">Le nom est obligatoire</div>
      </div>
  </div>
  <div *ngIf="!isStudent" class="form-group">
    <label for="name">Nom de l'entreprise</label>
    <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
    <div *ngIf="submitted && f['name'].errors">
        <div *ngIf="f['name'].errors['required']">Le nom est obligatoire</div>
    </div>
</div>
  <div class="form-group">
      <label for="username">Utilisateur</label>
      <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
      <div *ngIf="submitted && f['username'].errors">
          <div *ngIf="f['username'].errors['required']">L'utilisateur est obligatoire</div>
      </div>
  </div>
  <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
      <div *ngIf="submitted && f['password'].errors">
          <div *ngIf="f['password'].errors['required']">Le mot de passe est obligatoire</div>
          <div *ngIf="f['password'].errors['minlength']">Le mot de passe doit contenir au moins 6 caractères</div>
      </div>
    </div>
    <div class="form-buttons">
        <button [disabled]="loading">
            <span *ngIf="loading"></span>
            S'enregistrer
        </button>
        <a routerLink="/login">Annuler</a>
    </div>
</form>
<app-alert></app-alert>
