

<div class="banner">
    <h1>
      <p class="logo-ent"></p>
      <img src="{{ offer.srcImgCompany }}" alt="logo company" class="logo-ent"/><br/>
      {{ offer.title }}<br/>
    </h1>
    <h4>{{ offer.company }}</h4>
</div>

<div class="offer-sheet">

    <div class="matching">
        <h1>90</h1>
        <h4>%</h4>
      </div>
      <br/>

    <ul>
      <li>{{offer.location}}</li>
      <li>Stage 4 à 6 mois</li>
      <li>Bac +5</li>
      <li>IT/Conseil</li>
    </ul>
    
    <br/>

    <h1>Présentation de l'entreprise</h1>
    <p>{{ offer.company }}</p>
    <br/>

    <h1>Description du poste</h1>
    <p>{{ offer.description }}</p>
    <br/>

    <h1>Profil recherché</h1>
    <p>{{ offer.softSkills }}</p>
    <br/>

    <h1>Plus d'infos</h1>
    <p>{{ "Aucune info disponibles" }}</p>
    <br/>

    <h1 class="btn btn-success">Postuler !</h1>
</div>

