

<div class="banner">
    <h1>
      <p class="logo-ent"></p>
      <img src="../../../assets/images/logo_orange.svg" alt="logo company" class="logo-ent"/><br/>
      {{ offer.title }}<br/>
    </h1>
    <h4>{{ offer.company }}</h4>
</div>

<div class="offer-sheet">

    <div class="matching">
        <h1>90</h1>
        <h4>%</h4>
      </div>
      <br/>

    <ul>
      <li>{{offer.location}}</li>
      <li>Stage 4 à 6 mois</li>
      <li>Bac +5</li>
      <li>IT/Conseil</li>
    </ul>
    
    <br/>

    <h1>Présentation de l'entreprise</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida arcu sed libero pretium porta non sed quam. Nam libero ligula, auctor placerat suscipit vitae, lacinia non metus. Cras luctus pharetra rhoncus. Nulla ut ullamcorper mauris, a fermentum augue. Sed sed dictum nibh, eget posuere nisl. Aenean bibendum odio et turpis consectetur faucibus. In hac habitasse platea dictumst. Nunc dapibus, nulla vel mattis egestas, arcu nunc finibus ligula, et consectetur diam risus non nulla.
      Etiam imperdiet rhoncus ornare. Donec sed lacinia orci, nec luctus massa. Suspendisse consectetur congue posuere. Aenean efficitur ex non libero viverra blandit. Donec imperdiet magna fermentum justo ornare, at molestie risus pharetra. Duis tempor leo quis porta semper. Ut iaculis justo eu ex porttitor, non tincidunt enim bibendum.
    </p>
    <br/>

    <h1>Description du poste</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida arcu sed libero pretium porta non sed quam. Nam libero ligula, auctor placerat suscipit vitae, lacinia non metus. Cras luctus pharetra rhoncus. Nulla ut ullamcorper mauris, a fermentum augue. Sed sed dictum nibh, eget posuere nisl. Aenean bibendum odio et turpis consectetur faucibus. In hac habitasse platea dictumst. Nunc dapibus, nulla vel mattis egestas, arcu nunc finibus ligula, et consectetur diam risus non nulla.
      Etiam imperdiet rhoncus ornare. Donec sed lacinia orci, nec luctus massa. Suspendisse consectetur congue posuere. Aenean efficitur ex non libero viverra blandit. Donec imperdiet magna fermentum justo ornare, at molestie risus pharetra. Duis tempor leo quis porta semper. Ut iaculis justo eu ex porttitor, non tincidunt enim bibendum.
    </p>
    <br/>

    <h1>Profil recherché</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida arcu sed libero pretium porta non sed quam. Nam libero ligula, auctor placerat suscipit vitae, lacinia non metus. Cras luctus pharetra rhoncus. Nulla ut ullamcorper mauris, a fermentum augue. Sed sed dictum nibh, eget posuere nisl. Aenean bibendum odio et turpis consectetur faucibus. In hac habitasse platea dictumst. Nunc dapibus, nulla vel mattis egestas, arcu nunc finibus ligula, et consectetur diam risus non nulla.
      Etiam imperdiet rhoncus ornare. Donec sed lacinia orci, nec luctus massa. Suspendisse consectetur congue posuere. Aenean efficitur ex non libero viverra blandit. Donec imperdiet magna fermentum justo ornare, at molestie risus pharetra. Duis tempor leo quis porta semper. Ut iaculis justo eu ex porttitor, non tincidunt enim bibendum.
    </p>
    <br/>

    <h1>Plus d'infos</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida arcu sed libero pretium porta non sed quam. Nam libero ligula, auctor placerat suscipit vitae, lacinia non metus. Cras luctus pharetra rhoncus. Nulla ut ullamcorper mauris, a fermentum augue. Sed sed dictum nibh, eget posuere nisl. Aenean bibendum odio et turpis consectetur faucibus. In hac habitasse platea dictumst. Nunc dapibus, nulla vel mattis egestas, arcu nunc finibus ligula, et consectetur diam risus non nulla.
      Etiam imperdiet rhoncus ornare. Donec sed lacinia orci, nec luctus massa. Suspendisse consectetur congue posuere. Aenean efficitur ex non libero viverra blandit. Donec imperdiet magna fermentum justo ornare, at molestie risus pharetra. Duis tempor leo quis porta semper. Ut iaculis justo eu ex porttitor, non tincidunt enim bibendum.
    </p>
    <br/>

    <h1 class="btn btn-success">Postuler !</h1>
</div>

